*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.magazine{
    width: 700px;
    height: 500px;
    margin: 5% auto;
}
